<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>Simulador de Juros Compostos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">




</head>

<body>
    <h1>Simulador de Juros Compostos</h1>
    <form method="POST">
        <label>Valor do Empréstimo (R$):</label><br>
        <input type="text" name="capital" required><br><br>

        <label>Taxa Mensal (%):</label><br>
        <input type="text" name="taxa" required><br><br>

        <label>Prazo (em meses):</label><br>
        <input type="number" name="tempo" required><br><br>

        <button type="submit">Calcular</button> {% if resultado %}
        <h2>Resultado:</h2>
        <p>Montante a pagar: R$ {{ resultado.montante }}</p>
        <p>Juros a pagar: R$ {{ resultado.juros }}</p>
        <br>
        <form method="GET">
            <button type="submit">Fazer outra simulação</button>
        </form>
        {% endif %}


    </form>

</body>

</html>